body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .container a {
    color: black;
  }
  
  header {
    background-color: blueviolet;
    color: #fff;
    padding: 10px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  main {
    padding: 40px 0;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    margin: 0;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .job-listing {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  